*.ast
*.spim
*.toks
*.sym
*.out
*.o
A1-Resources-x86_64/src/*.h
A1-Resources-x86_64/src/*.c
A1-Resources-x86_64/src/*.output
A1-Resources-x86_64/src/sclp
*.log
*/notes
**/test.c
*.tgz
*.output
*.tab.h
*.tab.c
*.yy.c
**/scan.c
**/sclp

