*.ast
*.spim
*.toks
*.sym
*.out
*.o
src/*.h
src/*.c
src/*.output
src/sclp
*.log
*/notes
**/test.c
*.tgz
*.output
*.tab.h
*.tab.c
*.yy.c
**/scan.c
**/sclp
**/.vscode
A2-Testcases
failed-logs
JAN2026_group_10*
